<!DOCTYPE html>
<html lang="en">
<head>
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', path='/css/base.css') }}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', path='/css/bootstrap.css') }}"
    />
    <meta
            charset="UTF-8"
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>CryptoAnalyzer</title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <a class="navbar-brand" style="color: white;" href="/analytics">CryptoAnalyzer</a>
    </nav>
</div>
<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <h1>Choose options</h1>
                </div>
                <div class="form-group">
                    <label>Select a currency</label>
                    <select class="form-control" name="currency">
                        <option value='btc'>Bitcoin</option>
                        <option value='etc'>Etherium</option>
                        <option value='sol'>Solana</option>
                        <option value='doge'>Dogecoin</option>
                    </select>
                </div>
                <label>Count of records</label>
                <select class="form-control" name="count_of_records">
                    <option value='5'>5</option>
                    <option value='10'>10</option>
                    <option value='20'>20</option>
                    <option value='50'>50</option>
                    <option value='100'>100</option>
                    <option value='200'>200</option>
                    <option value='500'>500</option>
                </select>
        </div>
        <button type="submit" class="btn btn-dark">Show graphs</button>
        </form>
    </div>
</div>
</div>
</body>
</html>
