<!DOCTYPE html>
<html lang="en">
<head>
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', path='/css/base.css') }}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', path='/css/bootstrap.css') }}"
    />
    <meta
            charset="UTF-8"
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>CryptoAnalyzer</title>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <a class="navbar-brand" style="color: white;" href="/">CryptoAnalyzer</a>
    </nav>
</div>
<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <button type="button" onclick="window.location.href='/get_data'" class="btn btn-dark">Get data</button>
            <form method="POST">
                <div class="form-group">
                    <h1>Choose crypto</h1>
                </div>
                <div class="form-group">
                    <label>The first currency</label>
                    <select class="form-control" name="first_currency">
                        {% for currency in currencies %}
                            <option value={{ currency }}>{{ currency[:-4] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>The second currency</label>
                    <select class="form-control" name="second_currency">
                        {% for currency in currencies %}
                            <option value={{ currency }}>{{ currency[:-4] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Parameter</label>
                    <p>Price: Price on the given day (Also the closing price for that day)<br>
                        Open: Opening price on the given day<br>
                        High: Highest price on the given day<br>
                        Low: Lowest price on the given day<br>
                        Volume: Volume of transactions on the given day<br>
                        Change%: Percentage Change from the previous day</p>
                    <select class="form-control" name="field">
                        <option value='Price'>Price</option>
                        <option value='Open'>Open</option>
                        <option value='High'>High</option>
                        <option value='Low'>Low</option>
                        <option value='Vol.'>Vol.</option>
                        <option value='Change %'>Change %</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Show graphs</button>
            </form>
            <button type="submit" onclick="window.location.href='/binanceApi'" class="btn btn-warning" style="margin-top: 15px; color: white">Binance graph</button>
        </div>
    </div>
</div>
</body>
</html>
