<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/bootstrap.css') }}"
    />
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>CryptoAnalyzer</title>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <a class="navbar-brand" style="color: white;" href="/analytics">CryptoAnalyzer</a>
      </nav>
    </div>
  </body>
</html>
